html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

body {
  position: relative;
}

figure:nth-child(3) {
  position: absolute;
  left: 23rem;
  top: 6rem;
  transform: rotate(30deg);
  z-index: -1;
}

figure:nth-child(1) {
  position: absolute;
  left: 12rem;
  top: 6rem;
  transform: rotate(-17deg);
  z-index: -2;
}

figure:nth-child(2) {
  position: absolute;
  left: 18rem;
  top: 10rem;
  transform: rotate(7deg);
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transition: 150ms linear;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  text-align: center;
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 0;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, .5);
}
